.pagination-section {
  display: flex;
  margin-top: 1.5rem;
  justify-content: space-between;
  flex-wrap: wrap;
   align-items: center;
}

.delete-selected {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  border: 0px;
  margin-bottom: 1rem;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  text-decoration: none;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 4rem;
  padding: 6px 16px;
  border-radius: 4px;
  transition: background-color 250ms, box-shadow 250ms, border-color 250ms, color 250ms;
  color: rgb(255, 255, 255);
  background-color:#ef5350;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px;
}

.delete-selected span{
  display: inherit;

}

.delete-selected span svg{
    user-select: none;
    width: 1em;
    display: inline-block;
    fill: currentColor;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-transition: fill 200ms;
    transition: fill 200ms;
    font-size: 1rem;
    margin-right: 0.5rem;
}

.delete-selected:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 2px 1px;
  background-color: #ef5350;
}

.loading-data {
  margin: auto;
  padding: 10% 0 10% 0;
}

.count-selected span {
  color: #ef5350;
}

.count-selected,
.zero-selected {
  font-size: 1.3em;
  margin-bottom: 1rem;
}



@media screen and (max-width: 480px) {

  .delete-selected {
    width: 100%;
 
  }

  .count-selected,
.zero-selected {
  width: 100%;
}

  .pagination-section{
    justify-content: space-around;
  }
  
}

@media screen and (min-width:480px) and (max-width:768px) {
  .pagination-section{
    justify-content: space-around;
  }
}
 
@media screen and (min-width: 1200px) {

  .pagination-section {
   align-items: center;
   margin-top: 0.5rem;
  
 }

}